# Super Admin Dashboard - set credentials in production
# Defaults: superadmin@luckyboba.com / superadmin123
# VITE_SUPER_ADMIN_EMAIL=superadmin@luckyboba.com
# VITE_SUPER_ADMIN_PASSWORD=your_secure_password
