APP_NAME="Lucky Boba POS"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_VERSION=v2.6.0

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=lucky_bobas
DB_USERNAME=root
DB_PASSWORD=

# --- DATABASE BACKUP ---
# For Linux: "mysqldump"
# For Windows: "C:\Program Files\MariaDB 12.1\bin\mysqldump.exe"
DB_DUMP_PATH="mysqldump"
